[versions]
java = "17"
agp = "8.5.2"
kotlin = "2.0.20"
androidGradlePlugin = "8.2.2"
core-ktx = "1.13.1"
junit = "4.13.2"
androidx-test = "1.6.1"
androidx-test-ext-junit = "1.2.1"
android-lifecycle = "2.8.6"
activity-compose = "1.9.2"
compose-bom = "2024.09.03"
compose-navigation = "2.8.2"
detekt = "1.23.6"
detektCompose = "0.4.12"
hilt = "2.51.1"
okhttpBom = "4.12.0"
kotlinxSerializationJson = "1.7.2"
ksp = "2.0.20-1.0.25" # ksp to kotlin version mapping https://github.com/google/ksp/releases
opencsv = "5.5.2"
paparazzi = "1.3.2"
retrofit = "2.9.0"
retrofit2KotlinxSerializationConverter = "0.8.0"
sqldelight = "2.0.2"
sqliteAndroidDriver = "2.0.2"
wire = "5.0.0"

#SDK
minSdk = "26"
compileSdk = "34"
targetSdk = "34"
timber = "5.0.1"
espressoCore = "3.6.1"
appcompat = "1.7.0"

[libraries]
#ksp-gradle-plugin = { module = "com.google.devtools.ksp:com.google.devtools.ksp.gradle.plugin", version.ref = "ksp" }
core-ktx = { group = "androidx.core", name = "core-ktx", version.ref = "core-ktx" }
activity-compose = { group = "androidx.activity", name = "activity-compose", version.ref = "activity-compose" }
lifecycle-runtime-ktx = { group = "androidx.lifecycle", name = "lifecycle-runtime-ktx", version.ref = "android-lifecycle" }
lifecycle-runtime-compose = { group = "androidx.lifecycle", name = "lifecycle-runtime-compose", version.ref = "android-lifecycle" }
lifecycle-viewmodel-compose = { group = "androidx.lifecycle", name = "lifecycle-viewmodel-compose", version.ref = "android-lifecycle" }
opencsv = { module = "com.opencsv:opencsv", version.ref = "opencsv" }
retrofit2-kotlinx-serialization-converter = { module = "com.jakewharton.retrofit:retrofit2-kotlinx-serialization-converter", version.ref = "retrofit2KotlinxSerializationConverter" }
timber = { module = "com.jakewharton.timber:timber", version.ref = "timber" }

#Compose
compose-bom = { group = "androidx.compose", name = "compose-bom", version.ref = "compose-bom" }
compose-foundation = { group = "androidx.compose.foundation", name = "foundation" }
compose-ui = { group = "androidx.compose.ui", name = "ui" }
compose-ui-graphics = { group = "androidx.compose.ui", name = "ui-graphics" }
compose-ui-tooling = { group = "androidx.compose.ui", name = "ui-tooling" }
compose-ui-tooling-preview = { group = "androidx.compose.ui", name = "ui-tooling-preview" }
compose-navigation = { group = "androidx.navigation", name = "navigation-compose", version.ref = "compose-navigation" }
compose-material3 = { group = "androidx.compose.material3", name = "material3", version = "1.3.0" }

#Hilt
hilt-android = { group = "com.google.dagger", name = "hilt-android", version.ref = "hilt" }
hilt-compiler = { group = "com.google.dagger", name = "hilt-compiler", version.ref = "hilt" }

#Network
kotlinx-serialization-json = { group = "org.jetbrains.kotlinx", name = "kotlinx-serialization-json", version.ref = "kotlinxSerializationJson" }
okhttp-logging-interceptor = { module = "com.squareup.okhttp3:logging-interceptor" }
okhttp = { module = "com.squareup.okhttp3:okhttp" }
okhttp-bom = { module = "com.squareup.okhttp3:okhttp-bom", version.ref = "okhttpBom" }
retrofit = { module = "com.squareup.retrofit2:retrofit", version.ref = "retrofit" }

#Test
compose-ui-test-manifest = { group = "androidx.compose.ui", name = "ui-test-manifest" }
compose-ui-test-junit4 = { group = "androidx.compose.ui", name = "ui-test-junit4" }
junit = { group = "junit", name = "junit", version.ref = "junit" }
androidx-test-ext-junit = { group = "androidx.test.ext", name = "junit", version.ref = "androidx-test-ext-junit" }
google-truth = { group = "com.google.truth", name = "truth", version = "1.4.4" }
turbine = { group = "app.cash.turbine", name = "turbine", version = "1.1.0" }
mockito-kotlin = { group = "org.mockito.kotlin", name = "mockito-kotlin", version = "5.2.1" }
kotlinx-coroutines-test = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-test", version = "1.8.1" }
androidx-core-ktx = { group = "androidx.test", name = "core-ktx", version.ref = "androidx-test" }
paparazzi = { group = "app.cash.paparazzi", name = "paparazzi-gradle-plugin", version.ref = "paparazzi" }

#BuildLogic
kotlin-gradlePlugin = { group = "org.jetbrains.kotlin", name = "kotlin-gradle-plugin", version.ref = "kotlin" }
android-gradlePlugin = { group = "com.android.tools.build", name = "gradle", version.ref = "androidGradlePlugin" }

#CodeStyle
detektFormat = { group = "io.gitlab.arturbosch.detekt", name = "detekt-formatting", version.ref = "detekt" }
detektCompose = { group = "io.nlopez.compose.rules", name = "detekt", version.ref = "detektCompose" }


#Database
sqlite-android-driver = { module = "app.cash.sqldelight:android-driver", version.ref = "sqliteAndroidDriver" }

[plugins]
androidApplication = { id = "com.android.application", version.ref = "agp" }
kotlinAndroid = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
hilt = { id = "com.google.dagger.hilt.android", version.ref = "hilt" }
kotlin-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
cash-paparazzi = { id = "app.cash.paparazzi", version.ref = "paparazzi" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "detekt" }
compose-compiler = { id = "org.jetbrains.kotlin.plugin.compose", version.ref = "kotlin" }
wire = { id = "com.squareup.wire", version.ref = "wire" }
cash-sqldelight = { id = "app.cash.sqldelight", version.ref = "sqldelight" }

#Convention Plugins
krail-android-application = { id = "krail.android.application", version = "unspecified" }
krail-android-hilt = { id = "krail.android.hilt", version = "unspecified" }
krail-android-library = { id = "krail.android.library", version = "unspecified" }
krail-android-library-compose = { id = "krail.android.library.compose", version = "unspecified" }
krail-jvm-library = { id = "krail.jvm.library", version = "unspecified" }
