name: Distribute Google Play (Internal)

on:
  workflow_call:
    inputs:
      artifact-name:
        required: true
        type: string
      track:
        required: true
        type: string

jobs:
  distribute:
    runs-on: ubuntu-latest
    environment: Firebase
    steps:
      - name: Download Release AAB artifact
        uses: actions/download-artifact@v8
        with:
          name: ${{ inputs.artifact-name }}
          path: aab

      - name: Deploy to Play Store (Internal)
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT_JSON }}
          packageName: xyz.ksharma.krail
          releaseFiles: aab/*.aab
          track: internal
